#Title{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  padding-left: 5px;
}


.navbar-header{
  margin-left:5px;
  width:100%;
  pull-right
}



#NavBar{
  background-color: #c7d2d6;
}


#bigLayout{
  padding: 100px;
  background-color: blue;
}
