h2{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  display: inline;
  color: white;
}

.float-right {
    float: right
}

#bigLayout{
  padding: 100px;
  background-color: blue;
}



#bottom{
  color: white;
  padding-left: 500px;
  align-items: center;
}


#buttonPlease{
  margin-left: 700px;
}


#bigContainer{
  padding-bottom: 90px;
  padding-top: 100px;
}
