#Title{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  padding-left: 100px;
  color: white;
}


#bigLayout{
  padding: 100px;
  background-color: blue;
}



#bottom{
  color: white;
  padding-left: 500px;
  align-items: center;
}


#buttonPlease{
  margin-left: 700px;
}


#bigContainer{
  padding-bottom: 90px;
  padding-top: 100px;
}
